{% macro render_query_fields(index, query_field, query_type_field) %}
  <dt>{{ index }}</dt>
  <dd>{{ query_field(**kwargs)|safe }}
  {% if query_field.errors %}
    <ul class=errors>
    {% for error in query_field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
  <dd>{{ query_type_field(**kwargs)|safe }}
{% endmacro %}

{% macro render_result_table(results) %}
<table>
{% for col, count in results.items() %}
    <tr>
        <td>{{ col }}</td>
        <td>{{ count }}</td>
    </tr>
{% endfor %}
</table>
{% endmacro %}



<h1>austxt</h1>
      <p>Submit up to 10 queries to the austxt dataset. You will then get a link
      the austext dataset augmented with a column for each of your queries,
      containing their results. Each query can be of the following types:</p>
      <ol>
          <li>exact: Matches exact text of query</li>
          <li>and: All terms in query must be present</li>
          <li>or: At least one query term must be present</li>
      </ol>

      <p>Each column will contain the number of matches for your query in each
      speech, with the exception of queries of type 'and' and 'or' that have
      multiple terms. These will return the count of term in each speech that
      had the minimum frequency of all terms in the query.</p>
  
<form method=post>
  <dl>
      {% for i in range(form.num_queries) %}
          {% set query_field, query_type_field = form.get_query(loop.index) %}
          {{ render_query_fields(loop.index, query_field, query_type_field) }}
      {% endfor %}
  </dl>
  <p><input type=submit value=Submit>
</form>

{% if results %}
<h2>Results</h2>

<p>Senate</p>
{{ render_result_table(sen_counts) }}

<p>Representatives</p>
{{ render_result_table(reps_counts) }}


<p><a href="{{ sen_path }}">Download Augmented Senates Dataset</a></p>
<p><a href="{{ reps_path }}">Download Augmented Representatives Dataset</a></p>
{% endif %}

