{% extends "base.html" %}

{% macro render_query_fields(index, query_field, query_type_field) %}
<div class="row">
    <div class="col-1">{{ index }}</div>
    <div class="col-4">
        {{ query_field(class="w-100", **kwargs)|safe }}
    </div>
    <div class="col-2">
        {{ query_type_field(**kwargs)|safe }}
    </div>
</div>
{% if query_field.errors %}
<div class="row">
    <div class="col">
        <ul class=errors>
            {% for error in query_field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro render_result_table(results) %}
<table>
{% for col, count in results.items() %}
    <tr>
        <td class="query-result">{{ col }}</td>
        <td class="numeric">{{ count }}</td>
    </tr>
{% endfor %}
</table>
{% endmacro %}

{% block title %}austxt{% endblock %}

{% block body %}
        
<div class="row">
    <div class="col">
        <h2>Query austxt</h2>
<p>Submit up to 10 queries to the austxt dataset. You will then get a link
    the austext dataset augmented with a column for each of your queries,
    containing their results. Each query can be of the following types:</p>
<ol>
    <li><span class="label">exact</span>: Matches exact text of query</li>
    <li><span class="label">and</span>: All terms in query must be present</li>
    <li><span class="label">or<span>: At least one query term must be present</li>
</ol>

<p>Each column will contain the number of matches for your query in each
    speech, with the exception of queries of type 'and' and 'or' that have
    multiple terms. These will return the count of term in each speech that
    had the minimum frequency of all terms in the query.</p>
  
<form method=post>
      {% for i in range(form.num_queries) %}
          {% set query_field, query_type_field = form.get_query(loop.index) %}
          {{ render_query_fields(loop.index, query_field, query_type_field) }}
      {% endfor %}
  <p><input type=submit value=Submit>
</form>

    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <h2>Links</h2>
                <p><a href="https://s3-ap-southeast-2.amazonaws.com/austxt/senate_speeches_full.csv.gz">senate_speeches_full.csv.gz</a><p>
                <p><a href="https://s3-ap-southeast-2.amazonaws.com/austxt/senate_speeches_notext.csv.gz">senate_speeches_notext.csv.gz</a><p>
                <p><a href="https://s3-ap-southeast-2.amazonaws.com/austxt/representatives_speeches_full.csv.gz">representatives_speeches_full.csv.gz</a><p>
                <p><a href="https://s3-ap-southeast-2.amazonaws.com/austxt/representatives_speeches_notext.csv.gz">representatives_speeches_notext.csv.gz</a><p>
                <p><a href="https://s3-ap-southeast-2.amazonaws.com/austxt/members.csv.gz">members.csv.gz</a><p>
                <p><a href="https://github.com/ned2/austxt">https://github.com/ned2/austxt</a><p>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                {% if results %}
                <h2>Results</h2>

                <div class="mb-4">
                    <p class="label">Senate</p>
                    {{ render_result_table(sen_counts) }}
                </div>
                
                <div class="mb-4">
                    <p class="label">Representatives</p>
                    {{ render_result_table(reps_counts) }}
                </div>
                
                <p><a href="{{ sen_path }}">Download Senates Dataset with queries</a></p>
                <p><a href="{{ reps_path }}">Download Representatives Dataset with queries</a></p>
                {% endif %}
            </div>
        </div>
</div>

{% endblock %}
